body {
    font-family: 'Georgia', serif;
    font-size: 23px;
    line-height: 1.6;
    margin: 30px 135px; /* Отступы вокруг страницы */
    background-color: #FEF9D9;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #192C57;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px; /* Отступ сверху */
}

h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    color: #483D8B;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #192C57;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #4C6EF5;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}